@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
  background:rgb(254, 249, 231);
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

table, tr, td {
	border:2px solid;
	border-color: rgb(204,208,211);
	border-collapse: collapse;
	table-layout: fixed;

}

th {
	text-align: left;
	border:2px solid;
	border-color: rgb(204,208,211);
	background-color: rgb(203, 210, 208);
	font-family: "Times New Roman", Times, serif;
	padding: 5px;
	width: 100px;
	}

td{
	font-weight: normal;
	text-align: center;
	width: 100px;
	background:rgb(250, 215, 160);
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}